<%= form_with(model: ruby_symbol) do |form| %>
  <% if ruby_symbol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ruby_symbol.errors.count, "error") %> prohibited this ruby_symbol from being saved:</h2>

      <ul>
        <% ruby_symbol.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sign %>
    <%= form.text_field :sign %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :definition %>
    <%= form.text_field :definition %>
  </div>

  <div class="field">
    <%= form.label :example %>
    <%= form.text_field :example %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
